:root {
	--border: 1px solid #AAA;
}

body {
	font-family: sans-serif;
	padding: 10px;
}

button, .button {
	background: #DDD;
	border: var(--border);
	padding: 1px 4px;
	user-select: none;
}
button:hover, .button:hover {
	background: #CCC;
}
button:active, .button:active {
	background: #BBB;
}

textarea, input[type="text"] {
	border: var(--border);
	padding: 1px 4px;
}

dialog {
	background: white;
	border: var(--border);
	margin: auto;
	padding: 10px;
}

.hidden {
	display: none;
}

#bucket {
	list-style: none;
	padding: 0;
}

.favicon {
	height: 15px;
	margin-inline: 5px;
	vertical-align: middle;
	width: 15px;
}

.selected {
	background: deepskyblue;
}
