#main {
	list-style: none;
	padding: 0;
}

.hidden {
	display: none;
}

.favicon {
	height: 15px;
	margin-right: 5px;
	vertical-align: middle;
	width: 15px;
}

.highlighted {
	background: deepskyblue;
}
